{
    "info": {
        "title": "SmarterProctoring",
        "version": "3.0.1"
    },
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.smarterproctoring.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "client": {
                "type": "apiKey",
                "name": "token",
                "in": "header"
            }
        },
        "schemas": {
            "ids": {
                "type": "object",
                "description": "Contains course identifiers; only one ID type is allowed.",
                "properties": {
                    "sid": {
                        "type": "string",
                        "pattern": "^CU[a-z0-9]{32}$"
                    },
                    "api": {
                        "type": "string"
                    },
                    "lms": {
                        "type": "string"
                    },
                    "external": {
                        "type": "string"
                    }
                }
            },
            "course": {
                "type": "object",
                "description": "Course data",
                "properties": {
                    "ids": {
                        "$ref": "#/components/schemas/ids"
                    },
                    "title": {
                        "description": "Required if `sid` is NOT provided.",
                        "required": [
                            "title"
                        ],
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    },
                    "code": {
                        "description": "Required if `sid` is NOT provided.",
                        "anyOf": [
                            {
                                "type": "string",
                                "nullable": true
                            },
                            {
                                "type": "string",
                                "nullable": true
                            }
                        ]
                    }
                },
                "required": [
                    "ids"
                ]
            },
            "Model1": {
                "type": "object",
                "description": "Contains user identifiers; only one ID type is allowed.",
                "properties": {
                    "sid": {
                        "type": "string",
                        "pattern": "^US[a-z0-9]{32}$"
                    },
                    "api": {
                        "type": "string"
                    },
                    "lms": {
                        "type": "string"
                    },
                    "external": {
                        "type": "string"
                    }
                }
            },
            "user": {
                "type": "object",
                "properties": {
                    "ids": {
                        "$ref": "#/components/schemas/Model1"
                    },
                    "firstName": {
                        "description": "Required if `sid` is NOT provided.",
                        "required": [
                            "firstName"
                        ],
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    },
                    "lastName": {
                        "description": "Required if `sid` is NOT provided.",
                        "required": [
                            "lastName"
                        ],
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    },
                    "email": {
                        "description": "Must be a valid email. Required if `sid` is NOT provided.",
                        "required": [
                            "email"
                        ],
                        "anyOf": [
                            {
                                "type": "string",
                                "x-format": {
                                    "email": true
                                }
                            },
                            {
                                "type": "string",
                                "x-format": {
                                    "email": true
                                }
                            }
                        ]
                    },
                    "currencyCode": {
                        "type": "string",
                        "description": "Currency code for the user, if not passed, will default to the currency set on the account.",
                        "nullable": true
                    },
                    "timeZone": {
                        "type": "string",
                        "description": "Time zone of the user, if not passed, will default to the timezone set on the account.",
                        "nullable": true
                    }
                },
                "required": [
                    "ids"
                ]
            },
            "Model2": {
                "type": "object",
                "description": "Exam IDs must contain either \"sid\" (EX+32 chars) or \"external\" (string).",
                "properties": {
                    "sid": {
                        "type": "string",
                        "pattern": "^EX[a-z0-9]{32}$"
                    },
                    "external": {
                        "type": "string"
                    }
                }
            },
            "type": {
                "type": "string",
                "default": "online",
                "enum": [
                    "online",
                    "written"
                ]
            },
            "Model3": {
                "type": "string",
                "default": "primary",
                "enum": [
                    "primary",
                    "accommodation"
                ]
            },
            "access": {
                "type": "object",
                "description": "Defines access times for the exam.",
                "properties": {
                    "open": {
                        "type": "string",
                        "x-format": {
                            "isoDate": true
                        }
                    },
                    "close": {
                        "type": "string",
                        "x-format": {
                            "isoDate": true
                        }
                    }
                },
                "required": [
                    "open",
                    "close"
                ]
            },
            "scheduling": {
                "type": "object",
                "description": "Defines optional scheduling times.",
                "properties": {
                    "open": {
                        "type": "string",
                        "x-format": {
                            "isoDate": true
                        }
                    },
                    "close": {
                        "type": "string",
                        "x-format": {
                            "isoDate": true
                        }
                    }
                }
            },
            "notes": {
                "type": "object",
                "properties": {
                    "student": {
                        "type": "string"
                    },
                    "proctor": {
                        "type": "string"
                    }
                }
            },
            "proctorTypes": {
                "type": "object",
                "description": "Proctoring options. TS+32 character ID keys. Options are optional but required for virtual settings."
            },
            "permittedItems": {
                "type": "object",
                "description": "Optional permitted items with notes."
            },
            "configuration": {
                "type": "object",
                "description": "Configuration for the exam. Optional unless IDs are required.",
                "properties": {
                    "ids": {
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/Model3"
                    },
                    "url": {
                        "type": "string"
                    },
                    "access": {
                        "$ref": "#/components/schemas/access"
                    },
                    "scheduling": {
                        "$ref": "#/components/schemas/scheduling"
                    },
                    "duration": {
                        "type": "integer",
                        "description": "Duration in minutes.",
                        "x-constraint": {
                            "sign": "positive"
                        }
                    },
                    "password": {
                        "type": "string"
                    },
                    "attempts": {
                        "type": "integer",
                        "default": 1,
                        "x-constraint": {
                            "sign": "positive"
                        }
                    },
                    "notes": {
                        "$ref": "#/components/schemas/notes"
                    },
                    "proctorTypes": {
                        "$ref": "#/components/schemas/proctorTypes"
                    },
                    "permittedItems": {
                        "$ref": "#/components/schemas/permittedItems"
                    }
                },
                "required": [
                    "url",
                    "access",
                    "duration",
                    "password",
                    "proctorTypes"
                ]
            },
            "exam": {
                "type": "object",
                "description": "Exam schema ensuring required and optional fields meet validation criteria.",
                "properties": {
                    "ids": {
                        "$ref": "#/components/schemas/Model2"
                    },
                    "title": {
                        "description": "Title is required if ids.sid is not provided.",
                        "required": [
                            "title"
                        ],
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "type": {
                        "$ref": "#/components/schemas/type"
                    },
                    "practice": {
                        "type": "boolean",
                        "default": false
                    },
                    "limitedScope": {
                        "type": "boolean",
                        "default": false
                    },
                    "deliverySystem": {
                        "type": "string",
                        "description": "Must be validated against available systems.",
                        "nullable": true
                    },
                    "configuration": {
                        "$ref": "#/components/schemas/configuration"
                    }
                },
                "required": [
                    "ids"
                ]
            },
            "signon": {
                "type": "object",
                "description": "Optional signon object.. If provided, integrationSid must be present. This will return the signon information to redirect the user to.",
                "properties": {
                    "integrationSid": {
                        "type": "string",
                        "description": "Required if signon is provided. Must start with \"II\" and be a 32-character alphanumeric string.",
                        "pattern": "^II[a-fA-F0-9]{32}$"
                    }
                },
                "required": [
                    "integrationSid"
                ]
            },
            "Model4": {
                "type": "object",
                "properties": {
                    "course": {
                        "$ref": "#/components/schemas/course"
                    },
                    "user": {
                        "$ref": "#/components/schemas/user"
                    },
                    "enrollment": {
                        "description": "Enrollment object is optional but can only exist if `user` is provided.",
                        "anyOf": [
                            {
                                "$ref": "#/x-alt-definitions/enrollment"
                            }
                        ]
                    },
                    "exam": {
                        "$ref": "#/components/schemas/exam"
                    },
                    "signon": {
                        "$ref": "#/components/schemas/signon"
                    }
                },
                "required": [
                    "course"
                ]
            },
            "ProvisionResponse": {
                "type": "object",
                "properties": {
                    "course": {
                        "type": "object",
                        "properties": {
                            "sid": {
                                "type": "string",
                                "description": "SmarterProctoring course identifier",
                                "pattern": "^CU[a-z0-9]{32}$"
                            },
                            "result": {
                                "type": "string",
                                "description": "Result of the course provision operation",
                                "enum": ["Created", "Found Existing", "Updated"]
                            }
                        },
                        "required": ["sid", "result"]
                    },
                    "user": {
                        "type": "object",
                        "properties": {
                            "sid": {
                                "type": "string",
                                "description": "SmarterProctoring user identifier",
                                "pattern": "^US[a-z0-9]{32}$"
                            },
                            "result": {
                                "type": "string",
                                "description": "Result of the user provision operation",
                                "enum": ["Created", "Found Existing", "Updated"]
                            }
                        },
                        "required": ["sid", "result"]
                    },
                    "enrollment": {
                        "type": "object",
                        "properties": {
                            "sid": {
                                "type": "string",
                                "description": "SmarterProctoring enrollment identifier",
                                "pattern": "^EN[a-z0-9]{32}$"
                            },
                            "result": {
                                "type": "string",
                                "description": "Result of the enrollment provision operation",
                                "enum": ["Created", "Found Existing", "Updated"]
                            }
                        },
                        "required": ["sid", "result"]
                    },
                    "exam": {
                        "type": "object",
                        "properties": {
                            "sid": {
                                "type": "string",
                                "description": "SmarterProctoring exam identifier",
                                "pattern": "^EX[a-z0-9]{32}$"
                            },
                            "result": {
                                "type": "string",
                                "description": "Result of the exam provision operation",
                                "enum": ["Created", "Found Existing", "Updated"]
                            }
                        },
                        "required": ["sid", "result"]
                    },
                    "configuration": {
                        "type": "object",
                        "properties": {
                            "sid": {
                                "type": "string",
                                "description": "SmarterProctoring configuration identifier",
                                "pattern": "^EC[a-z0-9]{32}$"
                            },
                            "result": {
                                "type": "string",
                                "description": "Result of the configuration provision operation",
                                "enum": ["Created", "Found Existing", "Updated"]
                            }
                        },
                        "required": ["sid", "result"]
                    },
                    "signon": {
                        "type": "object",
                        "properties": {
                            "redirect": {
                                "type": "string",
                                "description": "URL to redirect the user to for authentication"
                            },
                            "token": {
                                "type": "string",
                                "description": "JWT token for authentication"
                            }
                        },
                        "required": ["redirect", "token"]
                    }
                },
                "required": ["course", "user", "enrollment", "exam", "configuration"]
            }
        }
    },
    "tags": [],
    "paths": {
        "/v2/installs/{installSid}/provision": {
            "post": {
                "summary": "Provisions multiple types of data in a single call.",
                "operationId": "postV2InstallsInstallsidProvision",
                "parameters": [
                    {
                        "name": "installSid",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "description": "Install Sid",
                            "pattern": "^AI[a-f0-9]{32}$"
                        },
                        "description": "Install Sid",
                        "required": true
                    }
                ],
                "tags": [
                    "api",
                    "Provision",
                    "openapi"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Model4"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful provision operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProvisionResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "x-alt-definitions": {
        "role": {
            "type": "string",
            "description": "User role in the course, defaults to \"learner\".",
            "default": "learner",
            "enum": [
                "learner",
                "instructor"
            ]
        },
        "enrollment": {
            "type": "object",
            "description": "Optional enrollment details. If not passed and the user is being created, they will be enrolled as a learner.",
            "properties": {
                "role": {
                    "$ref": "#/x-alt-definitions/role"
                }
            }
        }
    }
}